.html {
	overflow:hidden;
}

.body {
	overflow:hidden;
}

.container-fluid {
	width:100%;
	padding:0;
	margin:0;
	overflow:hidden;
}

.ttdoc-maincontent-container .ttdoc-maincontent-row {
	width: 100%;
	max-width:900px;
	margin: 0 auto;
	padding:20px;
	padding-bottom: 50px;
}

b, strong {
    font-weight: 700;
    color:black;
}