.ttdoc-subnavbar-default {
	position:relative;
	margin-bottom:0px;

	.ttdoc-subnavbar {
		font: 14px/18px "Avenir Next Pro Condensed Demi", Arial, Helvetica Neue, Helvetica, sans-serif;
		font-weight: 800;
		text-transform: uppercase;
		color:$black;
		margin-bottom:0px;
		background: $white;

		.navbar-header {
	    		background: $white;
	  	}

		.navbar-toggle {
		 	float: left;
		 	margin-left: 30px;
		 	border-radius: 0px;
	  	}

	  	.navbar-collapse {
	    		margin-left: 10px;
	    		position:absolute;

		  	.nav li {
		    		padding-left: 10px;
		    		color:$black;

		    		a {
		  		background-color:none;
		  		}
		  	}

		  	.nav {
		  		.dropdown-menu {
		  			border: 1px solid $light-gray;
    					border: 1px solid $light-gray;
		  			border-radius:0px;
		  		}

		  	}
		}

		.navbar-toggle {
		    border-color: $black;

		    .icon-bar {
		    		background-color: $text-color;
		    }
		}

		.navbar-toggle:hover, .navbar-toggle:focus {
			background-color: $black;

			.icon-bar {
				background-color: $white;
			}
		}

	  	@media (max-device-width: 480px) and (orientation: landscape) {
	    		.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
		 		max-height: none;
	    		}
	  	}
  	}
}