$text-color: #333;
$black: #000;
$white: #fff;
$faint-gray: #f6f6f6;
$light-gray: #eee;
$medium-gray: #ccc;
$dark-gray: #6a6a6a;
$footer-gray: #bcbec0;
$bright-blue: #0c96d4;
$medium-blue: #0073af;
$light-teal: #E5FCFC;
$medium-teal: #1d9698;
$dark-teal: #024b64;
$link-color: #66c9d0;
$footer-link-color: #333;
$inactive-link: #6a6a6a;


